body{
  background: #d8ebf7;
}

h1{
  text-align: center;
  font-size: 36px;
  margin-top: 30px;
  color: black;
}

.map-wrapper{
  background: white;
  position: relative;
  width: 1200px;
  margin: 40px auto;
  right: -25px;
  border: 3px solid black;
  border-radius: 12px; 
  box-sizing: border-box;
}

svg{
  width: 65%;
  height: auto;
  display: block;
}

.info-card{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 70%;
  background: #d8ebf7;
  padding: 25px 30px;
  border-radius: 14px;
  box-shadow: 0 10px 35px rgba(0,0,0,0.25);
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid black;
}

.info-card p{
  margin: 0;
  font-size: 18px;
  padding: 8px;
  color: black;
}

.flags-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flag-box img{
  border-radius: 6px;
  border: 2px solid black;
  box-shadow: 0 6px 8px black;
}

.denmark-compare{
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  color: black;
}

.quiz{
  position: absolute;
  bottom: -75px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: black;
}

.quiz p{
  margin: 3px 0;
}

.info-card{
  opacity: 1;
  transition: opacity 1s ease;
}

.info-card.hidden{
  opacity: 0;
  pointer-events: none;
}